:root {
    --light: #f9f9f9;
    --dark: #212529;
    --primary: #0d6efd;
}

html {
    width: 100%;
    height: 100%;
}
  
body {
    background: var(--dark);
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-weight: bold;
}

.page-section {
    scroll-margin-top: 43px;
}

.navbar {
    transition: 0.3s ease;
}

@media (max-width: 768px) {
    .navbar {
        background: var(--dark);
        box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
    }
    .navbar .navbar-brand {
        display: inline-block;
        background: linear-gradient(to right, var(--primary), hotpink);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.navbar.scrolled {
    background: var(--dark);
    box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
}

.navbar.scrolled .navbar-brand {
    display: inline-block;
    background: linear-gradient(to right, var(--primary), hotpink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .nav-link.active {
    display: inline-block;
    background: linear-gradient(to right, var(--primary), hotpink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offcanvas {
    background: var(--dark);
}

.offcanvas .offcanvas-title {
    display: inline-block;
    background: linear-gradient(to right, var(--primary), hotpink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.offcanvas button {
    background: none;
    border: none;
}

.offcanvas button i {
    line-height: 3rem;
}

header.masthead {
    background: linear-gradient(135deg, var(--primary), rgb(191, 0, 95));
    padding-top: 10rem;
    padding-bottom: 5.5rem;
}

header.masthead .row {
    display: flex;
    justify-content: center;
}

header.masthead hr {
    width: 3rem;
    height: 4px;
    background: #fff;
    border: none;
    border-radius: 20px;
    opacity: 1;
}

@media (min-width: 768px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    header.masthead p {
        font-size: 1.2rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}
@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}

header.masthead a {
    width: auto;
}

#about hr {
    width: 3rem;
    height: 4px;
    border-radius: 20px;
    border: none;
    opacity: 1;
    display: inline-block;
    background: linear-gradient(to right, var(--primary), hotpink);
}

#about a.btn {
    padding: 10px 20px;
    font-weight: bold;
    background: var(--light);
    color: var(--dark);
    position: relative;
    transition: 0.6s ease-in-out;
    border: none;
    overflow: hidden;
}
  
#about a.btn span {
    position: relative;
    transition: 0.6s ease-in-out;
    z-index: 1;
}
  
#about a.btn::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -200px;
    border-radius: 0;
    background: linear-gradient(135deg, var(--primary), rgb(191, 0, 95));
    position: absolute;
    transition: 0.6s ease-in-out;
  }

#about a.btn:hover::after {
    top: 0;
    left: 0;
}

#about a.btn:hover span {
    color: var(--light);
}

#hobbies hr {
    width: 3rem;
    height: 4px;
    border-radius: 20px;
    border: none;
    opacity: 1;
    display: inline-block;
    background: linear-gradient(to right, var(--primary), hotpink);
}

#hobbies .hobbies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hobbies {
    .box {
        position: relative;
        height: 350px;
        width: 350px;
        padding: 5px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transition: 0.3s ease-in-out;
        overflow: hidden;
    }
    .box:hover {
        scale: 1.05;
    }
    .image-hover {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    .box:hover .image-hover {
        opacity: 1;
    }
    .box.gaming {
        background: url('images/c5527f47-def9-433c-9cce-23f286dbfea2_Front.webp') center/cover no-repeat;
    }
    .box.coding {
        background: url('images/1920x1080-hd-coding-hjjgb7phqjqydv2a.jpg') center/cover no-repeat;
    }
    .box.cooking {
        background: url('images/food-4k-1pf6px6ryqfjtnyr.jpg') center/cover no-repeat;
    }
    .box.sports {
        background: url('images/1920x1080-hd-sports-61oi85jh19u3ptld.jpg') center/cover no-repeat;
    }
}


#portfolio .container-fluid p.gradient {
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(to right, var(--primary), hotpink);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#portfolio .container-fluid hr {
    text-align: center;
    width: 3rem;
    height: 4px;
    border-radius: 20px;
    border: none;
    opacity: 1;
    display: inline-block;
    background: linear-gradient(to right, var(--primary), hotpink);
}

#portfolio .container-fluid .row .col-lg-4 {
    display: flex;
    justify-content: center;
}

#portfolio .container-fluid .row .portfolio-box {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

#portfolio .container-fluid .row .portfolio-box {
    background: #fff;
    width: 100%;
    height: 300px;
}

#portfolio .container-fluid .row .portfolio-box.porsche {
    background: url('images/Final\ Porsche\ Image.png');
    background-position: center;
    background-size: cover;
}

#portfolio .container-fluid .row .portfolio-box.man {
    background: url('images/final.png');
    background-position: center;
    background-size: cover;
}

#portfolio .container-fluid .row .portfolio-box.ball {
    background: url('images/crystal\ ball.png');
    background-position: center;
    background-size: cover;
}

#portfolio .container-fluid .row .portfolio-box.octopus {
    background: url('images/octopus.png');
    background-position: center;
    background-size: cover;
}

#portfolio .container-fluid .row .portfolio-box.crest {
    background: url('images/family\ crest.jpg');
    background-position: center;
    background-size: cover;
}
#portfolio .container-fluid .row .portfolio-box.poster {
    background: url('images/Untitled-1.png');
    background-position: center;
    background-size: cover;
}

#portfolio .container-fluid .row .portfolio-box .portfolio-box-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(to right, rgba(13, 110, 253, 0.7), rgba(255, 105, 180, 0.7));
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .container-fluid .row .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

#resume h1.top span {
    display: inline-block;
    background: linear-gradient(to right, var(--primary), hotpink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#resume hr.top {
    width: 3rem;
    height: 4px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, var(--primary), hotpink);
    opacity: 1;
}

#resume .container-fluid .row:nth-child(1) {
    display: grid;
    grid-template-columns: auto 1fr;
}


@media (max-width: 768px) {
    #resume .container-fluid .row:nth-child(1) {
        display: block;
    }
    #resume .container-fluid .row .sidebar {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        width: 100%;

        .bottom {

            .list {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;

                p:nth-child(3) {
                    margin-bottom: 30px;
                }
            }
        }
    }
    #resume .container-fluid .row main {
        margin-top: 20px;
    }
}

@media (max-width: 520px) {
    #resume .container-fluid .row .sidebar {
        display: block;
    }
}

#resume .container-fluid .row .sidebar {
    background: linear-gradient(135deg, var(--primary), rgb(191, 0, 95));
    border-radius: 30px;
    padding: 20px;

    img {
        border-radius: 50%;
        border: 5px solid grey;
        height: 200px;
    }

    div.list {
        p {
            color: var(--light);
            margin-bottom: 12px;

            i {
                margin-right: 5px;
            }
        }
    }

    a.link {
        padding: 15px 30px;
        background: var(--primary);
        color: var(--light);
        text-decoration: none;
        border-radius: 20px;

        i {
            margin-right: 10px;
        }
    }

    a.link:hover {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--primary);
    }
}

#resume .container-fluid .row main {
    padding: min(30px, 7%);

    hr {
        width: 3rem;
        height: 4px;
        background: var(--primary);
        opacity: 1;
        border-radius: 20px;
        border: none;
    }
    .row i {
        display: inline-block;
        background: linear-gradient(to right, var(--primary), hotpink);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#contact .container p#thank-you-message {
    display: none;
}

#contact .container .row label,
#contact .container .row label::after {
    background: transparent;
    color: #fff;
}

#contact .container .row input,
#contact .container .row textarea {
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    color: #fff;
}

#contact .container .row textarea {
    height: 190px;
}

#contact .container .row button {
    padding: 10px 20px;
    font-weight: bold;
    background: var(--light);
    color: var(--dark);
    position: relative;
    transition: 0.5s ease;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}
  
#contact .container .row button span {
    position: relative;
    transition: 0.5s ease;
    z-index: 1;
}
  
#contact .container .row button::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    border-radius: 0;
    background: linear-gradient(135deg, var(--primary), rgb(191, 0, 95));
    position: absolute;
    transition: 0.5s ease;
  }

#contact .container .row button:hover::after {
    top: 0;
    left: 0;
}

#contact .container .row button:hover span {
    color: var(--light);
}

footer .container.top {
    .socials {
        display: flex;
        justify-content: center;
        gap: 15px;


        a {
            color: rgba(255, 255, 255, 0.5);
            width: 3rem;
            height: 3rem;
            background: rgba(255, 255, 255, 0.15);
            display: flex;
            justify-content: center;
            border-radius: 50%;
            font-size: 25px;
            line-height: 3rem;
            position: relative;
            transition: 0.2s ease-in-out;
            overflow: hidden;


            i {
                z-index: 1;
            }
        }
        a:hover {
            color: #fff;
        }
        a:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, #0d6efd, hotpink);
            left: 0;
            top: -100%;
            opacity: 1;
            transition: 0.4s ease-in-out;
        }
        a:hover::after {
            top: 0;
            opacity: 1;
        }
    }
}

footer .container.bottom {
    display: flex;
    justify-content: space-between;


    .left {
        display: flex;
        justify-content: center;
        flex-direction: column;


        p {
            margin: 5px 0;
            padding: 0;
        }
    }


    .right {
        display: flex;
        flex-direction: column;


        a {
            text-decoration: none;
            color: var(--light);
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
